@model System.Collections.Generic.List<Webshop.Models.Product>
@{ 
    System.Collections.Generic.List<string> items = new System.Collections.Generic.List<string>();
    System.Collections.Generic.List<string> sizes = new System.Collections.Generic.List<string>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shopping Planner</title>
</head>
<body>
    @foreach (var element in Model)
    {
        if (!items.Contains(element.ItemName))
        {
            items.Add(element.ItemName);
        }
        if (!sizes.Contains(element.Size))
        {
            sizes.Add(element.Size);
        }
    }
    <h1>Green Fox Fashion Web Store</h1>
    <form action="/warehouse/summary" method="get">
        <select name="itemname">
            <option selected disabled>Select item name</option>
            @foreach (var element in items)
            {
                <option value="@element">@element</option>
            }
        </select>
        <select name="size">
            <option selected disabled>Select size</option>
            @foreach (var element in sizes)
            {
                <option value="@element">@element</option>
            }
        </select>
        <input type="text" name="amount" value="" />
        <button type="submit">GET TOTAL</button>
    </form>
    <table>
        <tr>
            <th>Item name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Size</th>
            <th>Unit price</th>
        </tr>
        @foreach (var element in Model)
        {
            <tr>
                <td>@element.ItemName</td>
                <td>@element.Manufacturer</td>
                <td>@element.Category</td>
                <td>@element.Size</td>
                <td>@element.Price</td>
            </tr>
        }
    </table>
</body>
</html>