@model System.Collections.Generic.List<Webshop.Models.Product>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shopping Planner</title>
</head>
<body>
    <h1>Green Fox Fashion Web Store</h1>
    <form action="/warehouse/summary" method="get">
        <input type="text" name="itemname" value="Select item name" />
        <input type="text" name="size" value="Select size" />
        <input type="text" name="amount" value="" />
        <button type="submit">GET TOTAL</button>
    </form>
    <table>
        <tr>
            <th>Item name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Size</th>
            <th>Unit price</th>
        </tr>
        @foreach (var element in Model)
        {
            <tr>
                <td>@element.ItemName</td>
                <td>@element.Manufacturer</td>
                <td>@element.Category</td>
                <td>@element.Size</td>
                <td>@element.Price</td>
            </tr>
        }
    </table>
</body>
</html>